<form>

    <div class="login-form">
        <form action="/examples/actions/confirmation.php" method="post">
            <div class="avatar">
                <img src="https://seeklogo.com/images/E/escudo-de-colombia-nuevo-logo-43AF26DACE-seeklogo.com.png"
                    alt="Avatar">
            </div>
            <h2 class="text-center">Member Login</h2>
            <div class="form-group">
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuarios.login"
                    class="form-control" name="username" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <input type="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuarios.clave"
                    class="form-control" name="password" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <button type="button" (click)="autenticar()" class="btn btn-primary btn-lg btn-block">Sign in</button>
            </div>
            <div *ngIf="errorLabel" class="alert alert-danger api-response-alert " role="alert">
                {{errorText}}
            </div>
            <div *ngIf="successLabel" class="alert alert-success api-response-alert " role="alert">
                {{successText}}
            </div>
            <div class="bottom-action clearfix">
                <label class="float-left form-check-label"><input type="checkbox"> Recordarme</label>
                <a href="#" class="float-right">Olvido su clave?</a>
            </div>
        </form>
        <p class="text-center small">Registrese</p>
    </div>
</form>