<form>

    <div class="login-form">
        <form action="/examples/actions/confirmation.php" method="post">
            <div class="avatar">
                <img src="assets/img/2.png" alt="Avatar">
            </div>
            <h2 class="text-center">Nuevo producto</h2>
            <div class="form-group">
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.titulo"
                    class="form-control" name="username" placeholder="Titulo" required="required">
            </div>

            <div class="form-group">
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.descripcion"
                    class="form-control" name="username" placeholder="Descripcion" required="required">
            </div>

            <div class="form-group">
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.imagen"
                    class="form-control" name="username" placeholder="Imagen" required="required">
            </div>

            <div class="form-group">


                <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.estado">
                    <option value="1" selected>Activo</option>
                    <option value="2">En tramite</option>
                    <option value="2">Vendido</option>
                </select>

            </div>

            <div class="form-group">
                <button type="button" (click)="guardar()" class="btn btn-primary btn-lg btn-block">Crear</button>
            </div>
            <div *ngIf="errorLabel" class="alert alert-danger api-response-alert " role="alert">
                {{errorText}}
            </div>
            <div *ngIf="successLabel" class="alert alert-success api-response-alert " role="alert">
                {{successText}}
            </div>
            <div class="bottom-action clearfix">
                <a href="/productos" class="float-right">Listado productos</a>
            </div>
        </form>
    </div>
</form>