<form>

    <div class="login-form">
        <form action="/examples/actions/confirmation.php" method="post">
            <div class="avatar">
                <img src="assets/img/3.png" alt="Avatar">
            </div>
            <h2 class="text-center">Comprar producto</h2>
            <div class="form-group">
                <h2>Titulo: {{producto}}</h2>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Cantidad" required="required">
            </div>
            <div class="form-group">
                <button type="button" (click)="compra()" class="btn btn-primary btn-lg btn-block">Comprar</button>
            </div>
            <div *ngIf="errorLabel" class="alert alert-danger api-response-alert " role="alert">
                {{errorText}}
            </div>
            <div *ngIf="successLabel" class="alert alert-success api-response-alert " role="alert">
                {{successText}}
            </div>
            <div class="bottom-action clearfix">
                <a href="/productos" class="float-right">Listado productos</a>
            </div>
        </form>
    </div>
</form>